
@{
                /**/

                Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Data Breach</title>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <style>
        .center {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        .head_menu_top {
            position: relative;
            float: left;
        }

        #back-to-top {
            position: fixed;
            bottom: 40px;
            right: 40px;
            z-index: 9999;
            width: 32px;
            height: 32px;
            text-align: center;
            line-height: 30px;
            background: #f5f5f5;
            color: #444;
            cursor: pointer;
            border: 0;
            border-radius: 2px;
            text-decoration: none;
            transition: opacity 0.2s ease-out;
            opacity: 0;
        }

            #back-to-top:hover {
                background: #e9ebec;
            }

            #back-to-top.show {
                opacity: 1;
            }
    </style>
</head>
<body>
    <div>
        <div style="width: 1327px; margin-left: auto; margin-right: auto; position:relative;">
            <div id="head">
                <img class="center" src="~/Content/5E1A2906-F51C-4915-84D1-5FD49ED9C18B/images/databreach_head.jpg" />
            </div>
            <div id="protect">
                <img class="center" src="~/Content/5E1A2906-F51C-4915-84D1-5FD49ED9C18B/images/data_breach_protect.jpg" />
            </div>
            <div id="cylance">
                <img class="center" src="~/Content/5E1A2906-F51C-4915-84D1-5FD49ED9C18B/images/data_breach_cylance.jpg" />
            </div>
            <div id="endpoint">
                <img class="center" src="~/Content/5E1A2906-F51C-4915-84D1-5FD49ED9C18B/images/data_breach_endpoint.jpg" />
            </div>
            <div id="lock">
                <img class="center" src="~/Content/5E1A2906-F51C-4915-84D1-5FD49ED9C18B/images/data_breach_lock.jpg" />
            </div>
            <div id="footer">
                <img class="center" src="~/Content/5E1A2906-F51C-4915-84D1-5FD49ED9C18B/images/data_breach_foot.jpg" />
            </div>
            <a href="#protect"><img class="head_menu_top" style="left: 139px;bottom: 3478px;" src="~/Content/5E1A2906-F51C-4915-84D1-5FD49ED9C18B/images/data_breach_icon_protect.PNG" /></a>
            <a href="#cylance"><img class="head_menu_top" style="left: 274px;bottom: 3480px;" src="~/Content/5E1A2906-F51C-4915-84D1-5FD49ED9C18B/images/data_breach_icon_cylance.PNG" /></a>
            <a href="#lock"><img class="head_menu_top" style="left: 448px;bottom: 3476px;" src="~/Content/5E1A2906-F51C-4915-84D1-5FD49ED9C18B/images/data_breach_icon_lock.PNG" /></a>
            <a href="#endpoint"><img class="head_menu_top" style="left: 640px;bottom: 3486px;" src="~/Content/5E1A2906-F51C-4915-84D1-5FD49ED9C18B/images/data_breach_icon_endpoint.PNG" /></a>

            <a href="@System.Configuration.ConfigurationManager.AppSettings["RegisterForBreachProtectionBundle"]"><img class="head_menu_top" style="left: 414px;bottom: 2965px;" src="~/Content/5E1A2906-F51C-4915-84D1-5FD49ED9C18B/images/data_breach_icon_register.PNG" /></a>
            <a href="@System.Configuration.ConfigurationManager.AppSettings["FileAClaimWithRoyalGroupServices"]"><img class="head_menu_top" style="left: 156px;bottom: 2761px;" src="~/Content/5E1A2906-F51C-4915-84D1-5FD49ED9C18B/images/data_breach_icon_claim.PNG" /></a>
            <a href="@System.Configuration.ConfigurationManager.AppSettings["DownloadFromPCIPortal"]"><img class="head_menu_top" style="left: -41px;bottom: 1776px;" src="~/Content/5E1A2906-F51C-4915-84D1-5FD49ED9C18B/images/data_breach_icon_pci_portal_1.PNG" /></a>
            <a href="@System.Configuration.ConfigurationManager.AppSettings["DownloadFromPCIPortal"]"><img class="head_menu_top" style="right: 924px;bottom: 1521px;" src="~/Content/5E1A2906-F51C-4915-84D1-5FD49ED9C18B/images/data_breach_icon_pci_portal_2.PNG" /></a>

            <a href="@System.Configuration.ConfigurationManager.AppSettings["CylanceAndKystrokeActivationInstructions"]"><img class="head_menu_top" style="left: 131px;bottom: 2564px;" src="~/Content/5E1A2906-F51C-4915-84D1-5FD49ED9C18B/images/data_breach_icon_activation.PNG" /></a>
            <a href="@System.Configuration.ConfigurationManager.AppSettings["CylanceAndKystrokeActivationInstructions"]"><img class="head_menu_top" style="left: 374px; bottom: 1240px;" src="~/Content/5E1A2906-F51C-4915-84D1-5FD49ED9C18B/images/data_breach_icon_activation_1.PNG" /></a>

            <a href="@System.Configuration.ConfigurationManager.AppSettings["FileAClaimWithRoyalGroupServices"]"><img class="head_menu_top" style="left: 573px; bottom: 1240px;" src="~/Content/5E1A2906-F51C-4915-84D1-5FD49ED9C18B/images/data_breach_icon_claim_1.PNG" /></a>
            <a href="@System.Configuration.ConfigurationManager.AppSettings["RegisterForBreachProtectionBundle"]"><img class="head_menu_top" style="left: -414px; bottom: 1240px;" src="~/Content/5E1A2906-F51C-4915-84D1-5FD49ED9C18B/images/data_breach_icon_register_1.PNG" /></a>
            <a class="head_menu_top" style="left: -90px;bottom: 765px;text-decoration: none;color: white; font-family: Tahoma;font-size: x-large;cursor: pointer;" href="mailto:@System.Configuration.ConfigurationManager.AppSettings["emailSupport"]">
                <label>@System.Configuration.ConfigurationManager.AppSettings["emailSupport"]</label>
            </a>
            <a href="#" id="back-to-top" title="Back to top">
                <img width="50px" src="~/Content/5E1A2906-F51C-4915-84D1-5FD49ED9C18B/images/arrow_up.png" />
            </a>
        </div>

    </div>
</body>
</html>

<script>
    if ($('#back-to-top').length) {
    var scrollTrigger = 100, // px
        backToTop = function () {
            var scrollTop = $(window).scrollTop();
            if (scrollTop > scrollTrigger) {
                $('#back-to-top').addClass('show');
            } else {
                $('#back-to-top').removeClass('show');
            }
        };
    backToTop();
    $(window).on('scroll', function () {
        backToTop();
    });
    $('#back-to-top').on('click', function (e) {
        e.preventDefault();
        $('html,body').animate({
            scrollTop: 0
        }, 700);
    });
}
</script>
