<div class="container">
	<div id="slides">
		<div class="slides_container">
			<div>	 			
				<a href="@Url.Content("~/products-services")" title="Products & Services" target="_self" ><img src="@Url.Content("~/Content/5E1A2906-F51C-4915-84D1-5FD49ED9C18B/menu/_menuproducts-servicespartial/img_main_acceptCC.jpg")" style="border:0px" width="1027px" height="195px" alt="Products & Services" /></a>
			</div>
            <div>
				<a href="@Url.Content("~/products-services")" title="Products & Services" target="_self"><img src="@Url.Content("~/Content/5E1A2906-F51C-4915-84D1-5FD49ED9C18B/menu/_menuproducts-servicespartial/img_main_processingSolution.jpg")" style="border:0px" width="1027px" height="195px" alt="Products & Services" /></a>					
			</div>			
		</div>
		<a href="#" class="prev"><img src="@Url.Content("~/Content/5E1A2906-F51C-4915-84D1-5FD49ED9C18B/images/btn_arrowLeft.png")" width="7px" height="13px" style="border:0px" alt="Previous" title="Previous" /></a>
		<a href="#" class="next"><img src="@Url.Content("~/Content/5E1A2906-F51C-4915-84D1-5FD49ED9C18B/images/btn_arrowRight.png")" width="7px" height="13px" style="border:0px" alt="Next" title="Next" /></a>        
	</div>    
</div>